*.bam
*.bai
*.sam
*.fastq
*.fa
*.fai
*.dict
*.cram
*.crai
*.vcf.gz.tbi
truth_chr20.vcf.gz
HG001_GRCh38*
GRCh38_full_analysis*
*.amb
*.ann
*.bwt
*.pac
*.sa
na12878_chr20.raw.vcf.gz
na12878_chr20.snps.vcf.gz
na12878_chr20.indels.vcf.gz
na12878_chr20.snps.filtered.vcf.gz
na12878_chr20.indels.filtered.vcf.gz
*_fastqc.html
*_fastqc.zip
fastp_report.*
confident_chr20.bed
benchmark_results.vcf.gz
benchmark_results.metrics.json.gz
benchmark_results.roc.*
benchmark_results.runinfo.json
benchmark_results.extended.csv
